@font-face {
  src: url("../fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Regular.ttf");
  font-family: Atkinson_Hyperlegible;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}


@font-face {
  src: url("../fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Bold.ttf");
  font-family: Atkinson_Hyperlegible;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}