html {
  height: 100%;
  font-size: 62.5%;
}

body
  min-height 100%
  font-family Atkinson_Hyperlegible , sans-serif
  font-size 1.6rem
  font-weight 400
  line-height 1.5
  color #121212
  background #efefef



*::selection
  background #aaa

img
  user-select none
